* {
    margin: 0;
    padding: 0;
}

html, body {
  margin: 0;
}

.case-section {  
  width: 100%;
  height: 100vh;
  background-color: var(--background-white);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.cases-background {
  padding-top: 30px;
  background-color: var(--background-white);
  width: 100%;
  height: 100vh;
}

.image-box {
  position: relative;
}

.case-section .slick-slider {
  width: 550px;
  height: 305px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.case-section .slick-list {
  height: 305px;
  width: 472px;
}

#card-image {  
  width: 472px;
  height: 305px;
  mask-image: linear-gradient(to top, rgba(0, 51, 102, 0) 0%, #003366 82.13%);
}

.case-section .slick-dots {
  display: flex !important;
  justify-content: center;
  order: 3;
}

/* hiding all bullets by default */
.case-section .slick-dots li {
  display: none
}
/* only displaying the active bullets and the 2 bullets next to it */
.case-section .slick-dots li.slick-active,
.case-section .slick-dots li.slick-active + li,
.case-section .slick-dots li.slick-active + li + li {
  display: block;
}
/* displaying the last three bullets when slick-active class isn't applied to any li before them  */
.case-section .slick-dots li:nth-last-child(1),
.case-section .slick-dots li:nth-last-child(2),
.case-section .slick-dots li:nth-last-child(3) {
  display: block;
}
/* hiding the last three bullets if slick-active exist before them */
.case-section .slick-dots li.slick-active ~ li:nth-last-child(1),
.case-section .slick-dots li.slick-active ~ li:nth-last-child(2),
.case-section .slick-dots li.slick-active ~ li:nth-last-child(3) {
  display: none;
}
/* specific conditions to always display the last three bullets */
.case-section .slick-dots li.slick-active + li + li:nth-last-child(3),
.case-section .slick-dots li.slick-active + li + li:nth-last-child(2),
.case-section .slick-dots li.slick-active + li + li:nth-last-child(1),
.case-section .slick-dots li.slick-active + li:nth-last-child(3),
.case-section .slick-dots li.slick-active + li:nth-last-child(2),
.case-section .slick-dots li.slick-active + li:nth-last-child(1){
  display: block;
}


.case-section .slick-dots li button:before {
	content: url('../../../assets/Ellipse 3.svg');
}
.case-section .slick-dots li.slick-active button:before{
	content: url('../../../assets/Ellipse 2.svg');
}

.case-section .slick-prev{
  width: 56px;
  height: 56px;
}

.case-section .slick-next{
  width: 56px;
  height: 56px;
}

.case-section .slick-prev:before{
	content: url('../../../assets/prev.svg');
	
}
.case-section .slick-next:before{
	content: url('../../../assets/next.svg');
	
}

.cases-card{
  background-color: #003366;  
}

#case-card-title {
  position: absolute;
  top: 230px;
  margin-left: 25px;
  font-family: SFRegular;
  font-size: 18px;
  color: #FFFFFF;
}

#case-card-description {
  position: absolute;
  top: 260px;
  margin-left: 25px;
  font-family: SFRegular;
  font-size: 14px;
  color: #FFFFFF;
}

.case-right{
  height: 327px;
  width: 620px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.case-left{
  display: flex;
  align-items: center;
  width: 430px;
}

@media (max-width: 1025px){
  .case-section {  
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .case-section .slick-slider {
    margin-top: 5vh;
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
  }
  
  .case-section .slick-list {
    height: 100%;
    width: 80vw;
  }
  
  #card-image {
    width: 100%;
    height: 60vh;
    mask-image: linear-gradient(to top, rgba(0, 51, 102, 0) 0%, #003366 82.13%);
  }

  .case-section .slick-prev{
    width: 30px;
    height: 30px;
    z-index: 100;
  }
 
  .case-section .slick-next::before{
    margin-left: -50px;
  }

  .case-section .slick-prev::before{
    margin-right: -50px;
  }

  .case-section .slick-next{
    width: 30px;
    height: 30px;
  }

  .case-right{
    height: 75vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .case-left{
    margin-top: 100px;
    justify-content: center;
    text-align: center;
    width: 80vw;
  }
}

@media (max-width: 1020px){
  .case-left{
    margin-top: 20px;
  }

}

