body, html {
  margin: 0;
  width: 1368px;
}
/*.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
}

.services-card {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: box-shadow .3s ease-in-out;
    margin: 15px;
    cursor: pointer;
  }
  
  .services-card:hover {
  }
  
  .services-card img {
    width: 30%;
  }

  .services-card p {
    margin: 0;
    padding: 0px;
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
  }
  */
.services-section {
  display: flex;
  margin: 118px;
  justify-content: center;
  align-items: center;
}

  .services-section h1{
    margin-top: 15vh;
    color: #EBECEE;
  }
  
  .services-section .slick-list {
    margin: 226px;
    order: 1;
  }
  
  .services-section .slick-slider {
    display: flex;
    flex-flow: column wrap;
    align-self: center;
    width: 1018px; 
    justify-content: center; 
  }
  
  .services-section .slick-slide {
    margin: 0vh;
    transition: .5s;
  }
  
  .services-section .slick-prev:before,
  .services-section .slick-next:before {
    color: #777777;

  }
  
  .services-section .slick-prev{
    position: static;
    height: auto;
    order: 2;
    transform: translate(0, 0); 
    margin-right: 1vh;
  }
  
  .services-section .slick-next{
    position: static;
    height: auto;
    order: 4;
    transform: translate(0, 0);
    margin-left: 90vh;
  }
  .services-section .slick-dots {
    display: flex !important;
    position: static;
    width: auto;
    height: auto;
    order: 3;
  }
  .services-card {
    width: 258px;
    height: 290px;
    justify-content: space-around;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 0px #EBEBEB;
    border-radius: 2px;
  }
  .services-card p {
    width: 218px;
    font-size: 18px;
  }
  .services-title {
    width: 218px;
    font-weight: bold;
  }
  .services-card img {
    width: 64px;
    background-color: #002F67;
    border-radius: 2px;
  }

  /*.services-section .slick-prev:before{
    content: url('assets/Path_prev_services.svg');
    
  }
  .services-section .slick-next:before{
    content: url('assets/Path_next_services.svg');
    
  }*/
  

  @media (min-width: 375px){
    body, html {
      margin: 0;
      width: 375px;
    }
    .services-section {
      display: flex;
      margin: 58px;
      justify-content: center;
      align-items: center;
    }
    
      .services-section h1{
        margin-top: 15vh;
        color: #EBECEE;
      }
      
      .services-section .slick-list {
        margin: 0px;
        order: 1;
      }
      
      .services-section .slick-slider {
        display: flex;
        flex-flow: column wrap;
        align-self: center;
        width: 205px; 
        justify-content: center; 
      }
      
      .services-section .slick-slide {
        margin: 10vh;
        transition: .5s;
        justify-content: center;
      }
      
      .services-section .slick-prev:before,
      .services-section .slick-next:before {
        color: #777777;
    
      }
      
      .services-section .slick-prev{
        position: relative;
        height: auto;
        order: 2;
        transform: translate(0, 0); 
        margin-right: 1vh;
      }
      
      .services-section .slick-next{
        position: relative;
        height: auto;
        order: 4;
        transform: translate(0, 0);
        margin-left: 1vh;
      }
      .services-section .slick-dots {
        display: flex !important;
        position: static;
        width: auto;
        height: auto;
        order: 3;
      }
      .services-card {
        width: 218px;
        height: 290px;
        justify-content: space-around;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 0px #EBEBEB;
        border-radius: 2px;
      }
      .services-card p {
        width: 218px;
        font-size: 18px;
      }
      .services-title {
        width: 218px;
        font-weight: bold;
      }
      .services-card img {
        width: 64px;
        background-color: #002F67;
        border-radius: 2px;
      }
  }