body, html {
  margin: 0;
}

.services-card {
  display: flex !important;
  flex-direction: column;
  padding-left: 10px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5px;
  height: 320px;
}

.services-background{
  background-color: var(--background-white);
}

.services-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

#carousel-images{
  background-color: #002F67;
  width: 64px;
  height: 64px;
  padding-top: 3px;
  padding-left: 3px;
  margin-left: -156px;
  margin-top: -314px;
  border-radius: 2px;
}

#carousel-images img{
  height: 54px;
  width: 57px;
}

#carousel-text{
  background-color: #FFFFFF;
  width: 258px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 2px 0px #EBEBEB;
  border-radius: 2px;
  margin-top: 30px;
}

.service-name{
  margin-top: 64px;
  margin-left: 16px;
  font-size: 18px;
  font-family: SFRegular;
  color: #0C0C0E;
}

.service-description {
  font-size: 18px;
  width: 226px;
  height: 164px;
  margin: 24px 16px 0;
  color: #383D43;
}

#services-button {
  width: 215px;
  height: 48px;
  margin-top: 35px;
  margin-bottom: 40px;
  align-self: center;
}

#services-title {
  width: 100%;
  text-align: center;
  font-family: SFRegular;
  font-size: 48px;
  color: #07192E;
  margin-top: 70px;
}

@media(max-width: 375px){

  .services-section .slick-slider {
    align-self: center;
    justify-content: center;
    align-content: center;
  }
  
  
  .services-section {
      background-color: var(--background-white);
      height: 667px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
  
  #carousel-images{
    background-color: #002F67;
    width: 64px;
    height: 64px;
    padding-top: 3px;
    padding-left: 3px;
  }
  
  #carousel-images img{
    height: 54px;
    width: 57px;
  }
  
  #carousel-text{
    background-color: #FFFFFF;
    width: 258px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .service-name{
    margin-left: 16px;
    font-size: 18px;
    font-family: SFRegular;
    color: #0C0C0E;
  }
  
  .service-description {
    font-size: 18px;
    width: 226px;
    height: 164px;
    margin-left: 16px;
  }
  
  #services-button {
    width: 215px;
    height: 48px;
  }
  
  #services-title {
    font-size: 30px;
    font-family: SFRegular;
    font-weight: lighter;
    color: #07192E;
    text-align: center;
    width: 100%;
  }

  /*
  .services-section .slick-prev:before{
    content: url('../../assets/Group 21.svg');
  }
  .services-section .slick-next:before{
    content: url('../../assets/Group 20.svg');
  }

  .services-section .slick-prev{
    left: 0px;
  }
  
  .services-section .slick-next{
    left: 258px;
  }
  */
}





