body, html {
    margin: 0;
  }

.banner-section{
    background-color: var(--dark-blue);
    height: 95vh;
    display: flex;
    flex-direction: column;
}

#squares {
    height: 526px;
}

#small-squares{
    display: none;
}

.banner-image{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.banner-background{
    background-color: var(--dark-blue);
}

.banner-up{
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-something{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.banner-text{
    padding: 0;
}

.banner-text h1{
    margin-top: 182px;
    color: var(--banner-white);
    font-family: SFMedium;
    font-weight: 400;
}

.banner-text p{
    width: 382px;
    color: var(--light-grey);
    font-family: SFRegular;
    font-weight: 400;
}

.banner-down{
    background-color: var(--green);
    width: 100%;
    height: 6vh;
}

@media (max-width: 900px){

    .banner-section{
        background-color: var(--dark-blue);
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .banner-background{
        overflow: hidden;
    }
    
    #squares {
        display: none;
    }

    #small-squares {
        display: initial;
        width: 90vw;
        height: 280px;
        margin-left: 10vw;
    }
    
    .banner-image{
        display: none;
    }
    
    .banner-up{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .banner-text h1{
        width: 89vw;
        margin-top: 73px;
        color: var(--banner-white);
        font-family: SFMedium;
        font-weight: 400;
        font-size: 30px;
    }
    
    .banner-text p{
        width: 89vw;
        color: var(--light-grey);
        font-family: SFRegular;
        font-weight: 400;
        font-size: 16px;
    }
    
    .banner-down{
        background-color: var(--green);
        width: 100%;
        height: 16px;
    }
}
