body, html {
    margin: 0;
}

.contact-background {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-white);
}

#contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.contacts-title {
    font-family: SFRegular;
    font-size: 48px;
    color: var(--dark-blue);
    padding-top: 70px;
}

.contacts-body {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: SFRegular;
    margin-bottom: 5vh;
    height: 65vh;
}

.contacts-doubt-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--dark-blue);
    width: 40vw;
}

#doubt-info {
    height: 25%;
}

#inputs-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 100%;
    align-items: center;
    text-align: start;
}

.email-input-container {
    width: 100%;
}

.message-input-container {
    width: 100%;
    height: 60%;
}

.contacts-diviser {
    margin: 0 80px 0;
    height: 100%;
    width: 2px;
    background-color: #E5E5E5;
}

#inputs-contact label {
    width: 100%;
    text-align: start;
    font-size: 16px;
}

#secondary-title-contact {
    font-size: 24px;
    margin-top: 15px;
}

#email-input {
    width: 100%;
    height: 50px;
    border: 1px solid #07192E;
    box-sizing: border-box;
    border-radius: 2px;
    box-sizing: border-box;
    padding: 0 5px 0;  
    background-color: transparent; 
}

#message-input {
    width: 100%;
    height: 80%;
    border: 1px solid #07192E;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: transparent; 
    padding: 5px;  
    resize: none;
}

#button-contact {
    width: 9vw;
    height: 5vh;
    border: 1px solid #07192E;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--background-white);
    font-family: SFRegular;
    color: var(--dark-blue);
    cursor: pointer;
}

#button-contact:hover {
    border: 1px solid #1f65b6;
    color: #1f65b6;
    ;
}

.contacts-budget-section {
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: space-between;
}

.right-up-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 143px;
}

.seal-contact {
    position: absolute;
    margin-top: 203px;
    right: 8vw;
}

#body-contact {
    font-size: 18px;
    margin-top: 5px;
}

@media (max-width: 1025px){
    .contacts-title {
        font-size: 30px;
        text-align: center;
    }
    
    .contacts-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--background-white);
        height: 667px;
        padding-top: 48px;
        padding-right: 5vw;
    }

    #secondary-title-contact {
        font-size: 16px;
    }
    
    #body-contact {
        font-size: 14px;
    }

    #inputs-contact label {
        font-size: 12px;
    }

    .contacts-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .contacts-doubt-section {
        width: 100%;
    }
    
    .contacts-diviser {
        display: none;
    }
    
    .contacts-budget-section {
        justify-content: flex-start;
        width: 100%;
    }
    

    #budget-button {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .seal-contact img{
        display: none;
        position: absolute;
        margin-top: 215px;
        right: 3px;
        height: 110px;
        width: 110px;
    }

    #email-input {
        width: 100%;
        height: 40px;
        border: 1px solid #07192E;
        box-sizing: border-box;
        border-radius: 2px;
    }
    
    #message-input {
        width: 100%;
        height: 91px;
        border: 1px solid #07192E;
        box-sizing: border-box;
        border-radius: 2px;
    }
    
    #button-contact {
        width: 125px;
        height: 5vh;
        margin-bottom: 20px;
    }
}
