body, html {
    margin: 0;
}

.contact-background {
    width: 100%;
    height: 100%;
    background-color: var(--background-white);
}

.contacts-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--background-white);
    height: 768px;
    padding-top: 112px;
}

.contacts-up {
    padding-left: 20vw;
}

.contacts-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacts-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#inputs-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

#fname {
    width: 483px;
    height: 6vh;
    border: 1px solid #07192E;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--background-white);
}

#lname {
    width: 483px;
    height: 17vh;
    border: 1px solid #07192E;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--background-white);
}

#sname {
    width: 9vw;
    height: 5vh;
    border: 1px solid #07192E;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: var(--background-white);
    font-family: SFRegular;
    color: var(--dark-blue);
    margin-left: 12vw;
}

.contacts-middle {
    height: 414px;
}

.contacts-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 11vw;
}

.right-up-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 143px;
}

.seal-contact {
    position: absolute;
    margin-top: 203px;
    right: 8vw;
}

#send{
    margin-left: 13vw;
}

@media (max-width: 900px){
    .contact-background {
        width: 100%;
        height: 100%;
        background-color: var(--background-white);
    }
    
    .contacts-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--background-white);
        height: 667px;
        padding-top: 48px;
        padding-right: 5vw;
    }
    
    .contacts-up {
        padding-left: 8vw;
    }

    .contacts-up img{
        width: 250px;
        height: 72px;
    }
    
    .contacts-down {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    
    .contacts-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .contacts-middle {
        display: none;
    }
    
    .contacts-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 11vw;
    }
    
    .right-up-contacts {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 121px;
    }

    #contact-one img {
        width: 59vw;
        height: 19px;
    }

    #contact-three {
        margin-left: 15vw;
    }

    #contact-two img {
        width: 64vw;
        height: 34px;
    }

    #left-one img {
        width: 204px;
        height: 19px;
    }

    #left-two img {
        width: 331px;
        height: 34px;
    }

    #left-three img {
        width: 31px;
        height: 14px;
    }

    #left-four img {
        width: 80vw;
        height: 40px;
    }

    #left-five img {
        width: 133px;
        height: 14px;
    }

    #left-six img {
        width: 80vw;
        height: 91px;
    }

    #left-seven {
        margin-left: 30vw;
    }

    #left-seven img {
        width: 125px;
        height: 35px;
    }
    
    .seal-contact img{
        position: absolute;
        margin-top: 171px;
        right: 3vw;
        height: 110px;
        width: 110px;
    }

    #fname {
        width: 325px;
        height: 40px;
        border: 1px solid #07192E;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: var(--background-white);
    }
    
    #lname {
        width: 325px;
        height: 91px;
        border: 1px solid #07192E;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: var(--background-white);
    }
    
    #sname {
        width: 125px;
        height: 5vh;
        border: 1px solid #07192E;
        box-sizing: border-box;
        border-radius: 2px;
        background-color: var(--background-white);
        font-family: SFRegular;
        color: var(--dark-blue);
        margin-left: 12vw;
    }
}
