body, html {
    margin: 0;
}

.nav-section{
    background-color: var(--dark-blue);
    height: 59px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-link{
    text-decoration: none
}

#container-navbar{
    width: 100%;
    height: 59px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-section ul{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: SFRegular;
    height: 59px;
    width: 50vw;
    margin-top: 0;
    
}
 
#nav-one a, #nav-two a, #nav-three a, #nav-four a{
    text-decoration: none;
    color: var(--banner-white);
}

#nav-five a{
    text-decoration: none;
    color: #07192E;
}

#nav-one, #nav-two, #nav-three, #nav-four{
    color: var(--banner-white);
    opacity: 0.7;
    margin-top: 20px;
    text-decoration: none;
}


#nav-five{
    color: #07192E;
    background-color: var(--green);
    height: 39px;
    width: 150px;
    text-align: center;
    padding-top: 20px;
}

#nav-five:hover{
    opacity: 0.9;
}

.logo-navbar img {
    width: 69px;
    height: 69px;
}


.responsive-menu {
    display: none;
}

.navbar-list a:hover{
    font-weight: 600;
}

@media (max-width: 900px) {
    


    .nav-section{
        background-color: var(--dark-blue);
        height: 59px;
    }
    
    #container-navbar{
        max-width: 91vw;
        height: 59px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 5vw;
    }
    
    .nav-section ul{
        display: none;
    }
    
    .logo-navbar{
        width: 59px;
        height: 59px;
    }
    
    .logo-navbar img {
        width: 59px;
        height: 59px;
    }
    
    .menu-navbar div{
        width: 227px;
        height: 64px;
    }
    
    .menu-navbar {
        display: initial;
    }

    .responsive-menu {
        display: initial;
        height: 59px;
        width: 60px;
    }

    .responsive-menu img{
        margin-top: 22px;
        margin-left: 20px;
    }
}







