body, html {
    margin: 0;
}

.nav-section{
    background-color: var(--dark-blue);
    height: 59px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.navbar-link{
    text-decoration: none
}

#container-navbar{
    width: 100%;
    height: 59px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-section ul{
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    font-family: SFRegular;
    height: 59px;
    width: 50vw;
    margin-top: 0;
    
}
 
#nav-one a, #nav-two a, #nav-three a, #nav-four a{
    text-decoration: none;
    color: var(--banner-white);
}

#nav-five a{
    text-decoration: none;
    color: #07192E;
}

#nav-one, #nav-two, #nav-three, #nav-four{
    color: var(--banner-white);
    opacity: 0.7;
    margin-top: 20px;
    text-decoration: none;
}


#nav-five{
    color: #07192E;
    background-color: var(--green);
    height: 39px;
    width: 150px;
    text-align: center;
    padding-top: 20px;
}

#nav-five:hover{
    opacity: 0.9;
}

.logo-navbar img {
    width: 60px;
    /* height: 65px; */
}


.responsive-menu {
    display: none;
}

#nav-one:hover, #nav-two:hover, #nav-three:hover, #nav-four:hover{
    opacity: 1;
}

@media (max-width: 900px) {
    .navbar-open{
        opacity: 0.8;
        height: 100vh;
        width: 100vw;
        background-color: var(--dark-blue);
        position: absolute;
        left: 100%;
        top:0px;
        transition: 0.5s all ease-in-out;
    }
    .navbar-mobile, .navbar-close, .navbar-open{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 101;
    }

    .close-menu{
        position: absolute;
        width: 30px;
        top: 20px;
        right: 6vw;
    }

    .navbar-close{
        opacity: 1;
        height: 100vh;
        width: 100vw;
        background-color: var(--dark-blue);
        position: absolute;
        left: 0px;
        top:0px;
        transition: 0.5s all ease-in-out;
    }


    .nav-section{
        padding-top: 1vh;
        background-color: var(--dark-blue);
        width: 100vw;
        height: 59px;
    }
    
    #container-navbar{
        max-width: 100vw;
        height: 59px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #nav-five{
        padding-top: 10px;
    }
    
    .nav-section ul{
        width: 100%;
        height: 60%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 26px;
        opacity: 1;
    }
    
    .navbar-list{
        display: none !important;
        width: 0;
        height: 0;
    }

    .navbar-link-mobile {
        text-decoration: none;
    }
    
    .logo-navbar{
        width: 59px;
        height: 59px;
    }
    
    .logo-navbar img {
        width: 59px;
        height: 59px;
    }
    
    .menu-navbar div{
        height: 64px;
    }
    
    .menu-navbar {
        display: initial;
    }

    .responsive-menu {
        display: initial;
    }

    .responsive-menu img{
    }
}







